<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form method='post'>
    <div>
        <input type="text" name='title'>
    </div>    
    <div>
      <textarea name="body" cols="30" rows="10"></textarea>
    </div>  
    <button tupe='submit'>Add</button>
  </form>
</body>
</html>