<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <a href="/create">Add</a>
  <ul>
    <% post.forEach(function(item){ %>
      <li>
        <h4>Title : <%= item.title %></h4>
        <p>Body : <%= item.body %></p>
      </li>
    <% }); %>
  </ul>

</body>
</html>