<div class="sidebar">
  <div class="box auth">
    <% if (!user.login && !user.id) { %>

    <form method='post' class="login">
      <h2>Log in</h2>
      <div class="form-group">
        <label for="login-login">Login</label>
        <input type="text" id='login-login' name='login'>
      </div>
      <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" id='login-password' name='password'>
      </div>
      <div class="buttons">
        <button class='switch-button secondary-inverse' type='submit'>Sign up</button>
        <button class='login-button' type='submit'>Log in</button>
      </div>
    </form>
    <% } else { %>
      <p> Привет, <%= user.login  %>   <a href="/api/auth/logout">Выход</a> </p>
      <a href="/posts/add">Добивать пост</a>
    <% } %>




    <form method='post' class="register">
        <h2>Sign up</h2>
        <div class="form-group">
          <label for="register-login">Login</label>
          <input type="text" id='register-login' name='login'>
        </div>
        <div class="form-group">
          <label for="register-password">Password</label>
          <input type="password" id='register-password' name='password'>
        </div>

        <div class="form-group">
          <label for="register-password-confirm">Confrim password</label>
          <input type="password" id='register-password-comfirm' name='passwordConfirm'>
        </div>

        <div class="buttons">
          <button class='switch-button secondary-inverse' type='submit'>Log in</button>
          <button class='register-button' type='submit'>Sign up</button>
        </div>
      </form>
  </div>

  <div class="box">
  </div>
</div>