.comments {
  display: flex;
  flex-direction: column;
  border: 1px solid $greyColor;
  padding: $freeSpace;
  margin-bottom: $freeSpace;
  background-color: $whiteColor;
  border-radius: $borderRadius;

  h3 {
    margin-top: 0;
  }

  form {  
    display: none;
      
    .buttons {
      display: flex;
      justify-content: flex-end;
      padding: $freeSpace;

      button {
        margin-left: $freeSpace;
        height: 24px;
        font-size: 0.9em;
      }
    }
  }

  .comment-list {
    ul {
      list-style: none;
      border-left: 1px solid $greyColor;
      padding-left: $freeSpace * 1.2;

      &:first-child {
        border: none;
        padding-left: 0;
      }

      li {
        display: flex;
        flex-direction: column;
        margin: $freeSpace * 0.8;

        .head{
          display: flex;

          .date {
            margin-left: $freeSpace;
            font-style: italic;
            color: lighten($blackColor, 45);
          }
        }
      }
    }
  }
}