.post {
  display: flex;
  flex-direction: column;
  border: 1px solid $greyColor;
  padding: $freeSpace;
  margin-bottom: $freeSpace;
  background-color: $whiteColor;
  border-radius: $borderRadius;

  .top {
    display: flex;
    justify-content: space-between;

    h2 {
      margin-top: 0;
    }
  }
  .body { 
    .mainView {
      text-align: justify;
      overflow: hidden;
      text-overflow: ellipsis;    
      max-height: 200px;
    }
  }

  .bottom {
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
  }
}

.add-post {
  min-height: 100px;
  width: 100%;
  padding: $freeSpace;
  margin-bottom: $freeSpace;
  background-color: $whiteColor;
  border: 1px solid $greyColor;
  border-radius: $borderRadius;

  h2 {
    margin: 0px;
    margin-bottom: 30px;
  }

  form {
    .buttons {
      display: flex;
      justify-content: space-between;
    }
    
    #post-body {
      min-height: 200px;
      background-color: $whiteColor;
      border: 1px solid $greyColor;
      padding: 8px 10px;
      outline: none;
    }
  }

  #fileInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $freeSpace;
    border: 1px solid $greyColor;
    border-radius: $borderRadius;
    margin-bottom: $freeSpace;

    .custom-file-upload {
      overflow: hidden;
      position: relative;
      cursor: pointer;
      border: 1px solid $greyColor;
      padding-left: $freeSpace;
      padding-right: $freeSpace;
      display: flex;
      align-items: center;
      border-radius: $borderRadius;
      height: 50px;

      input[type=file] {
        display: none;
      }
    }

    .img-container {
      height: 50px;
      margin-right: $freeSpace;
      border: 1px solid $greyColor;
    }

    img {
      height: 100%;
    }
  }
}